html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

header {
	background-color: #061021;
	min-height: 6rem;
}

nav {
	padding: 1em clamp(2rem, 10%, 8rem);
	display: flex;
	justify-content: space-between;
	align-content: center;
	min-height: inherit;
	font-size: large;

	ul {
		display: inherit;
		justify-content: space-around;
		list-style: none;
		padding: 0;
	}

	li {
		color: white;
		text-align: center;
		margin: auto 0;
		padding: 0 1rem;
	}

	img {
		margin: auto 0;
	}

	button {
		height: 3rem;
		border: none;
		border-radius: 55px;
		background-color: transparent;
		border: 2px solid #6C55D3;
		color: #6C55D3;
		padding: 14px 28px;
		font-size: 16px;
		cursor: pointer;
	}

	button:hover {
		background: #6C55D3;
		border: 2px solid #6C55D3;
		color: white;
	  }
}

@media screen and (max-width: 768px) {
	nav {
		display: grid;
		grid-template-columns: 1fr 1fr;
		font-size: x-large;

		ul {
			display: flex;
			flex-direction: column;
			grid-column: 1 / 3;
		}

		li {
			padding: 1rem 0;
		}

		button {
			background-color: transparent;
			color: #edf0f1;
			padding: 0;
			margin-left: auto;
			border: none;
			cursor: pointer;
		}

		img {
			margin: 6px 0;
			cursor: pointer;
		}
	}
}

main {
	background: linear-gradient(180deg, #061021 0%, #0b2041 100%);
	min-height: calc(100vh - 6rem);

	padding: 2rem clamp(2rem, 10%, 8rem);
	display: grid;
}

h1,
h2,
h3 {
	color: white;
}

p {
	color: lightgrey;
}

h1 {
	font-weight: 600;
	font-size: 3.75em;
	line-height: 110%;
	max-width: 18ch;
	margin: auto;
}

h3 {
	font-weight: 400;
	text-align: center;
}

p {
	padding: 2rem;
}

.top {
	display: grid;
	place-content: center;
	text-align: center;

	p {
		margin: 2rem auto;
		padding: 0;
		font-size: 1.85rem;
		font-weight: 100;
		line-height: 2.25rem;

		max-width: 44ch;
	}
}

.left {
	display: flex;
	place-content: center;
	flex-direction: row-reverse;

	div {
		margin-left: auto;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	p,
	h2 {
		text-align: right;
	}
}

.right {
	display: flex;
	place-content: center;
	flex-direction: row;

	p,
	h2 {
		text-align: left;
	}

	div {
		margin-right: auto;
	}
}

.left,
.right {
	margin-top: 3rem;

	img {
		max-width: 100%;
		height: 24rem;
		vertical-align: middle;
	}

	p {
		padding: 0;
		margin-top: 0.5rem;
		font-size: 1.5rem;
		line-height: 2rem;
	}

	h2 {
		font-size: 2.25rem;
		line-height: 2.5rem;
		font-weight: 600;
	}

	div {
		width: 66%;
		padding: 2rem;
		margin-top: auto;
		margin-bottom: auto;
	}
}

@media screen and (max-width: 1000px) {
	.left,
	.right {
		margin-top: 0;

		img {
			display: none;
		}

		p,
		h2 {
			text-align: left;
		}

		div {
			margin: 0;
			width: 100%;
		}
	}

	footer .content > img {
		display: none;
	}
}

footer {
	background: linear-gradient(180deg, #0a1d3a 0%, #0b2041 100%);

	.content {
		padding: 1em clamp(2rem, 10%, 8rem);
		display: flex;
		place-content: center;
		flex-direction: row;

		> div {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			margin-top: 4rem;
			margin-right: auto;

			img {
				height: 4rem;
			}

			a {
				width: min-content;
				height: min-content;
				margin: auto;
				margin-top: 2rem;
			}

			@media screen and (max-width: 1000px) {
				margin-left: auto;
			}
		}

		> img {
			transform: scaleX(-1);
		}
	}

	p {
		margin: 0;
		text-align: center;
	}

	h2 {
		margin: 0;
		font-weight: 600;
		font-size: 2.8rem;
		line-height: 3rem;
		grid-column: 1 / 4;
	}
}

.error .right {
	margin: auto;
	height: min-content;

	@media screen and (min-width: 1000px) {
		div {
			margin-right: 2rem;
		}
	}

	p {
		max-width: 48ch;
	}

	button {
		border: none;
		background: #5700c6;
		border-radius: 0.8rem;
		color: white;
		padding: 1rem 1.4rem;
		font-weight: 600;
		font-size: 1rem;
		cursor: pointer;

		&:hover {
			box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
			transition: ease-in-out 200ms;
		}
	}
}

.converyor-belt {
	width: 80vw;
	height: 20vh;
	background-color: #333;
	color: #fff;
	overflow: hidden;
	position: relative;
}

.converyor-belt:before, .converyor-belt:after {
	position: absolute;
	top: 0;
	width: 10rem;
	height: 100%;
	content: "";
	z-index: 1;
  }

.converyor-belt:before {
	left: 0;
	background: linear-gradient(to right, #333 0%, transparent 100%);
}
.converyor-belt:after {
	right: 0;
	background: linear-gradient(to left, #333 0%, transparent 100%);
}

.converyor-belt-items {
	list-style: none;
	height: 100%;
	display: flex;
	animation: scrolling calc(8 * 4s) linear infinite;
}

.converyor-belt-items li {
	display: flex;
	justify-content: center;
	align-items: center;
	/* text-align: center; */
	flex-shrink: 0;
	width: 80vw;
	max-height: 100%;
	font-size: calc(10vh*3/4); 
	white-space: nowrap;
	margin: 25px;
  }

@keyframes scrolling {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-1 * 80vw * 8)); }
}





